.bf-faq .bf-faq__main-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  margin-bottom: 1em;
}
.bf-faq .bf-faq__question-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.bf-faq .bf-faq__question-container .bf-faq__question {
  padding: 0.5em 0;
  font-weight: 600;
  font-size: 18px;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.bf-faq .bf-faq__question-container .bf-faq__question-plus {
  width: 15px;
  -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transform-origin: center;
  transform-origin: center;
}
.bf-faq .bf-faq__question-container:hover {
  cursor: pointer;
}
.bf-faq .bf-faq__question-container:hover .bf-faq__question {
  opacity: 0.7;
}
.bf-faq .bf-faq__question-container:hover .bf-faq__question-plus {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.bf-faq .bf-faq__answer {
  padding: 1em 0;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.bf-faq .bf-faq__answer > p:first-child {
  margin-top: 0;
}
.bf-faq .bf-faq__answer > p:last-child {
  margin-bottom: 0;
}

.bf-faq .bf-faq__main-container.bf-faq__active .bf-faq__question-container .bf-faq__question-plus {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bf-faq:not(.is-admin) .bf-faq__main-container:not(.bf-faq__active) .bf-faq__answer {
  opacity: 0;
}